<header id="header">
     <div class="wrapper">
        <nav role="navigation">
            <a class="nav-link" onclick="openTemplate('login')">Login</a>
            <a class="nav-link" onclick="openTemplate('register')">Register</a>
        </nav>
    </div>
</header>